USE [Nhom3_Schema]
GO
/****** Object:  Table [dbo].[Dim_CampaignSchema]    Script Date: 08/10/2024 1:53:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_CampaignSchema](
	[CampaignSchema] [nvarchar](255) NULL,
	[CampaignSchemaID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CampaignSchemaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Customer]    Script Date: 08/10/2024 1:53:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Customer](
	[CustomerID] [int] NOT NULL,
	[FullName] [nvarchar](255) NULL,
	[Gender] [nvarchar](255) NULL,
	[Age] [float] NULL,
	[City] [nvarchar](255) NULL,
	[Country] [nvarchar](255) NULL,
	[State] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Product]    Script Date: 08/10/2024 1:53:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Product](
	[Product] [nvarchar](255) NULL,
	[Category] [nvarchar](255) NULL,
	[ProductID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Time]    Script Date: 08/10/2024 1:53:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Time](
	[Date] [nvarchar](255) NULL,
	[Time] [nvarchar](255) NULL,
	[TimeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact]    Script Date: 08/10/2024 1:53:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact](
	[CustomerID] [int] NULL,
	[ProductID] [int] NULL,
	[CampaignSchemaID] [int] NULL,
	[TimeID] [int] NULL,
	[CreditScore] [float] NULL,
	[MonthlyIncome] [float] NULL,
	[Cost] [float] NULL,
	[Price] [float] NULL,
	[Quantity] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Dim_CampaignSchema] ([CampaignSchema], [CampaignSchemaID]) VALUES (N'Twitter-ads', 1)
INSERT [dbo].[Dim_CampaignSchema] ([CampaignSchema], [CampaignSchemaID]) VALUES (N'Google-ads', 2)
INSERT [dbo].[Dim_CampaignSchema] ([CampaignSchema], [CampaignSchemaID]) VALUES (N'Facebook-ads', 3)
GO
INSERT [dbo].[Dim_Customer] ([CustomerID], [FullName], [Gender], [Age], [City], [Country], [State]) VALUES (1001, N'Brittany Franklin', N'Male', 114, N'Dongguan', N'China', N'Guangdong')
INSERT [dbo].[Dim_Customer] ([CustomerID], [FullName], [Gender], [Age], [City], [Country], [State]) VALUES (1002, N'Scott Stewart', N'Female', 138, N'Yantai', N'China', N'Shandong')
INSERT [dbo].[Dim_Customer] ([CustomerID], [FullName], [Gender], [Age], [City], [Country], [State]) VALUES (1003, N'Elizabeth Fowler', N'Female', 21, N'Birmingham', N'UK', N'England')
GO
INSERT [dbo].[Dim_Product] ([Product], [Category], [ProductID]) VALUES (N'hair dryer', N'electronics', 1)
INSERT [dbo].[Dim_Product] ([Product], [Category], [ProductID]) VALUES (N'electric stove', N'home appliances', 2)
INSERT [dbo].[Dim_Product] ([Product], [Category], [ProductID]) VALUES (N'textbook', N'books', 3)
GO
INSERT [dbo].[Dim_Time] ([Date], [Time], [TimeID]) VALUES (N'23/08/2022', N'05:36', 1)
INSERT [dbo].[Dim_Time] ([Date], [Time], [TimeID]) VALUES (N'15/12/2019', N'13:44', 2)
INSERT [dbo].[Dim_Time] ([Date], [Time], [TimeID]) VALUES (N'17/02/2023', N'06:51', 3)
GO
INSERT [dbo].[Fact] ([CustomerID], [ProductID], [CampaignSchemaID], [TimeID], [CreditScore], [MonthlyIncome], [Cost], [Price], [Quantity]) VALUES (1001, 14, 4, 75, 780, 7591, 30, 50, 4)
INSERT [dbo].[Fact] ([CustomerID], [ProductID], [CampaignSchemaID], [TimeID], [CreditScore], [MonthlyIncome], [Cost], [Price], [Quantity]) VALUES (1001, 20, 6, 797, 780, 7591, 10, 18, 4)
INSERT [dbo].[Fact] ([CustomerID], [ProductID], [CampaignSchemaID], [TimeID], [CreditScore], [MonthlyIncome], [Cost], [Price], [Quantity]) VALUES (1002, 8, 6, 87, 746, 3912, 60, 100, 6)
GO
ALTER TABLE [dbo].[Fact]  WITH CHECK ADD  CONSTRAINT [fk_Fact_CampaignSchema] FOREIGN KEY([CampaignSchemaID])
REFERENCES [dbo].[Dim_CampaignSchema] ([CampaignSchemaID])
GO
ALTER TABLE [dbo].[Fact] CHECK CONSTRAINT [fk_Fact_CampaignSchema]
GO
ALTER TABLE [dbo].[Fact]  WITH CHECK ADD  CONSTRAINT [fk_Fact_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Dim_Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Fact] CHECK CONSTRAINT [fk_Fact_Customer]
GO
ALTER TABLE [dbo].[Fact]  WITH CHECK ADD  CONSTRAINT [fk_Fact_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Dim_Product] ([ProductID])
GO
ALTER TABLE [dbo].[Fact] CHECK CONSTRAINT [fk_Fact_Product]
GO
ALTER TABLE [dbo].[Fact]  WITH CHECK ADD  CONSTRAINT [fk_Fact_Time] FOREIGN KEY([TimeID])
REFERENCES [dbo].[Dim_Time] ([TimeID])
GO
ALTER TABLE [dbo].[Fact] CHECK CONSTRAINT [fk_Fact_Time]
GO
USE [master]
GO
